/* KEYFRAMES */

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(359deg);
	}
}
/* GRID STYLING */

* {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: #1d2630;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.three-quarter-spinner {
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-top: 3px solid transparent;
	border-radius: 50%;
	animation: spin 1s linear 0s infinite;
}